
/* Опыт работы */

.card h2
    margin-bottom: 2rem


.card h2
    background-color: #c2bf64
    height: 100%
    padding-left: 1rem
    

li 
    margin-bottom: 1rem

.card ul
    list-style-type: none

    

        


